@page
@model SubscribeAutoRenew.Host.Pages.Profiles.IndexModel
@{
    ViewData["Title"] = "Profile List";
}
<h1>Index</h1>

<p>
    <a asp-page="Edit">Create New</a>
</p>


<table class="table">

    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Link
            </th>
            <th>
                Path
            </th>
            <th>
                Description
            </th>
            <th>
                Last Updated
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Profiles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Link))
                    {
                        <span>@item.Link.Substring(0,10)</span><span>...</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Path)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedAt)
                </td>
                <td>
                    <a asp-page="./Refresh" asp-route-id="@item.Id">Refresh</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>